:root,
[data-bs-theme=light] {
  --bs-primary: #7FD1B9;
  --bs-primary-rgb: 127, 209, 185;
  --cs-primary-dark: #3C4F76;
  --cs-primary-dark-rgb: 60, 79, 118;
  --bs-light: #FFE1EA;
  --bs-light-rgb: 255, 225, 234;
  --bs-secondary: #3C4F76;
  --bs-secondary-rgb: 60, 79, 118;
}

.btn-primary {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-light);
    --bs-btn-hover-bg: var(--cs-primary-dark);
    --bs-btn-hover-border-color: var(--cs-primary-dark);
    --bs-btn-active-color: var(--bs-light);
    --bs-btn-active-bg: var(--cs-primary-dark);
    --bs-btn-active-border-color: var(--cs-primary-dark);
    --bs-btn-disabled-color: var(--bs-dark);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }

  .navbar {
    --bs-navbar-padding-x: 3rem 1em;
    --bs-navbar-padding-y: 2rem;
    --bs-navbar-color: var(--bs-light);
    --bs-navbar-hover-color: var(--bs-primary);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: var(--bs-primary);
    --bs-navbar-brand-margin-y: var(--bs-primary);
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: var(--bs-light);
    --bs-navbar-brand-hover-color: var(--bs-primary);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

/* removes border of hamburger menu icon */
.button {
  border: 0px;
}

/* adds padding to links in nav */
.nav-item {
  padding-bottom: 1rem;
}

/* sets font style */
body {
  font-family: playfair;
  font-weight: 500;
  height: 100%;
  width: 100%;
}

/* sets margin for buttons */
.wrapper {
  margin-top: 10%;
}

/* bolds button text */
.mainbtn {
  font-weight: 600;
}

/* media queries for button margin and font sizes */

@media only screen and (min-width: 500px) {
  .wrapper {
    margin-top: 14%;
  }

  body{
    font-size: 1.2em;
  }

  .mainbtn {
    font-size: large;
  }
}

@media only screen and (min-width: 580px) {
  .wrapper {
    margin-top: 12%;
  }
}

@media only screen and (min-width: 700px) {
  .wrapper {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 840px) {
  .wrapper {
    margin-top: 9%;
  }
  .mainbtn {
    font-size: medium;
  }
  body{
    font-size: 1em;
  }
}

@media only screen and (min-width: 950px) {
  .wrapper {
    margin-top: 8%;
  }
}

@media only screen and (min-width: 1060px) {
  .wrapper {
    margin-top: 7%;
  }
}

@media only screen and (min-width: 1300px) {
  .wrapper {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1500px) {
  .wrapper {
    margin-top: 5%;
  }
}